.home-background {
  height:500px;
  width: 100vw;
  margin-left: -25%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc200+15,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(45deg, rgba(255,194,0,0) 0%, rgba(255,194,0,0.15) 15%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,194,0,0) 0%,rgba(255,194,0,0.15) 15%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255,194,0,0) 0%,rgba(255,194,0,0.15) 15%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.home-main {
    height: auto;
    text-align: center;
    position: relative;
}

.home-pic {
  height:500px;
  width: 100vw;
  margin-left: -25%;
  position: relative;
}

.home-title {
    letter-spacing: 14.4px;
    display: inline;
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    z-index: 9999999;
    top: 0px;
    position: relative;
}

.home-button-container {
    margin-top: 100px;
}

.home-button {
  margin-bottom: 10px;
}

.home-button a {
  color: #584C57;
  font-weight: 100;
  letter-spacing: 4.4px;
}

.home-button a:hover{
  color: black;
  font-weight: 300;
  text-decoration: underline;
}

.home-subtitle {
  letter-spacing: 4.4px;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.home-text {
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
  word-spacing: 5px;
  color: darkslategrey;
}

.home-subpics {
  display: inline-block;
  margin: 20px;
}