/* PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Noto Serif', sans-serif;
}

h1, h2, h3 {
  font-family: 'Noto Serif', 'Arial Narrow', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

code, pre {
  font-family: 'Courier', monospace;
}

header {
  text-align: center;
  background: #FAF8F7;
}

.with-border {
  border-bottom: 1px solid rgba(151,151,151,0.29);
}

header .title {
  width: 960px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 46px;
  font-weight: lighter;
}

header .menu {
  width: 100%;
}

header .menu ul {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .menu ul li {
  display: flex-item;
  padding: 16px 0;
  text-transform: uppercase;
}

header .menu a {
  color: #818181;
  font-size: 16px;
}

header .menu .active a {
  color: black;
}

.container {
  width: 960px;
  margin: 0 auto;
}

section h2 {
  font-size: 32px;
  margin: 32px 0;
}

.avatar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.avatar img {
  width: 100%;
}

.highlight {
  color: black;
  width: 100%;
  padding: 0 8px;
  font-size: 22px;
  line-height: 1.4;
  background: #FFFCF2;
}

.ring-intro-section p {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}

.button-row {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.button-row .separator {
  height: 80px;
  margin: 0 25px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}

.button-row .separator span {
  background: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  display: block;
}

.button-row .separator:before {
  position: absolute;
  left: 46%;
  width: 1px;
  height: 100%;
  z-index: -1;
  content: '';
  background: #C6C6C6;
  transform: translateX(50%);
}

.btn {
  width: 260px;
  display: block;
  color: black;
  border: 3px solid black;
  font-size: 21px;
  text-align: center;
  line-height: 2.2;
}

.btn:hover {
  color: white;
  background: black;
}

.btn[disabled] {
  opacity: 0.7;
}

.ring-row {
  display: flex;
  flex-direction: row;
}

.ring-row img {
  width: 350px;
}

.ring-row .ring-info {
  margin-left: 64px;
}

.ring-row h3 {
  font-size: 36px;
  font-weight: bolder;
}

.ring-row p {
  font-size: 20px;
  line-height: 1.5;
}

.ring-row .btn {
  margin-top: 16px;
}
